.room {
  max-width: 640px;
  margin: 0 auto;
}

.room input {
  padding: 4px 0;
}

.room button {
  padding: 8px 0;
  display: inline-block;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;;
}

.room input:visited,
.room button:focus,
.room button:visited,
.room button:hover,
.room button:active {
  outline: none;
}