.media-player {
  display: inline-block;
  margin: 2px;
  width: 300px;
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
}

.media-player .video-container {
  position: relative;
  height: 200px;
}

.media-player .muted-mask,
.media-player .play-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  opacity: 0.6;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.muted-mask .mask-content,
.play-mask .mask-content {
  max-width: 200px;
}

.mask-content .hint {
  margin-bottom: 12px;
  white-space: break-spaces;
  font-size: 14px;
}

.mask-content button {
  min-height: 50px;
}

.media-player video {
  width: 100%;
  height: 100%;
}