<div class="room">
  <label>房间号：{{roomId}}（{{roomStatus}}）</label>
  <p>当前选中的流：{{selectedStreamStatus}}</p>
  <h3>本地（发布）流</h3>
  <app-stream-player *ngFor="let stream of localStreams"
    className="local-stream"
    [stream]="stream"
    [client]="client"
    [onClick]="onSelectStream"></app-stream-player>
  <h3>远端（订阅）流</h3>
  <app-stream-player *ngFor="let stream of remoteStreams"
    className="remote-stream"
    [stream]="stream"
    [client]="client"
    [onClick]="onSelectStream"></app-stream-player>
  <h3>操作</h3>
  <button (click)="handleJoinRoom()">加入房间</button>
  <button (click)="handlePublish()">发布</button>
  <button (click)="handlePublishScreen()">屏幕共享</button>
  <button (click)="handleUnpublish()">取消发布/屏幕共享</button>
  <button (click)="handleSubscribe()">订阅</button>
  <button (click)="handleUnsubscribe()">取消订阅</button>
  <button (click)="handleLeaveRoom()">离开房间</button>
</div>